{
    debug
}

http://fedora.taild42ed2.ts.net, http://localhost {

    # n8n Automations
    handle_path /n8n* {
        reverse_proxy localhost:15678 {
            flush_interval -1
        }
    }

    # Portainer (Gerenciamento Docker)
    handle_path /portainer* {
        reverse_proxy localhost:9000
    }

    # Qdrant
    @qdrant_root path /qdrant /qdrant/
    redir @qdrant_root /qdrant/dashboard 307
    handle_path /qdrant* {
        reverse_proxy localhost:16333
    }
    handle /dashboard* {
        reverse_proxy localhost:16333
    }

    # NocoDB
    @nocodb_root path /nocodb /nocodb/
    redir @nocodb_root /nocodb/dashboard/ 307
    handle_path /nocodb* {
        reverse_proxy localhost:18080
    }

    # Gerenciador Financeiro
    @financeiro_root path /financeiro
    redir @financeiro_root /financeiro/
    handle_path /financeiro* {
        reverse_proxy localhost:15500
    }

    # SilverBullet (com SB_URL_PREFIX=/notes)
    handle /notes* {
        reverse_proxy localhost:15050
    }

    # Atalhos amigáveis (Redirecionamento de Porta)
    redir /monitor /monitor/
    handle /monitor/ {
        redir http://{host}:8090
    }

    redir /backup /backup/
    handle /backup/ {
        redir http://{host}:51515
    }

    # Supabase Kong
    handle_path /supabase* {
        reverse_proxy localhost:54321
    }

    # Homarr Dashboard (Fallback - Página Inicial)
    handle {
        reverse_proxy localhost:17500
    }
}
